.Salary__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-family: "Lab Grotesque", monospace;
}

.Salary__input {
  border: 1px solid #dfe3e6;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 10px;
  width: 100%;
  margin-top: 8px;
  color: #000;
  font-size: 14px;
  line-height: 24px;

  &::placeholder {
    color: #bec5cc;
    font-size: 14px;
    line-height: 24px;
  }
}

.Salary__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ea0029;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Lab Grotesque", monospace;
  margin-top: 8px;
  flex-shrink: 1;
  align-self: start;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: #F53A31;
  }

  &:active {
    color: #EA0029;
  }
}

.Salary {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .Salary {
    margin-bottom: 8px;
  }
}